@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 0;
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
}

.color-container {
    max-width: 500px;
    margin: auto;
}
.square {
    width: 30%;
    border-radius: 15px;
    padding-bottom: 30%;
    background: white;
    margin: 1.66%;
    float: left;
    transition: 0.8s all linear;
}
.title {
    background: #4c8bf7;
    text-align: center;
    padding: 5px 10px;
}
.title h1 {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.5cm;
}
.nav-bar {
    background: #fff;
    height: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.nav-bar button {
    text-transform: uppercase;
    border: none;
    background: #fff;
    font-size: 18px;
    height: 100%;
    font-weight: bold;
    color: #4c8bf7;
    outline: 0;
}
.nav-bar button:hover {
    background: #4c8bf7;
    color: #fff;
}
#message {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    font-size: 20px;
}
.active {
    background: #4c8bf7 !important;
    color: #fff !important;
}
/* class use for js */
.pickedColor {
    font-size: 42px;
}
.shake {
	animation-name: shake;
    animation-duration: 1s;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}
